*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Poppins", serif;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
	background: #F0FFF0;
}
.header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 0px 30px;
    color: #000;
    transition: 0.3S;
}
.header .navbar-expand-lg .navbar-nav .nav-link:hover{
	color: #21B573;
}
.header .navbar-expand-lg .navbar-nav .nav-link:focus{
	color: #21B573;
}
.header .btn-success{
	font-size: 16px;
	font-weight: 400;
	padding: 10px 30px;
	margin: 0px 0px 0px 30px;
	color: #fff;
	background: #21b573;
	border-radius: 30px;
	transition: 0.3s;
}
.header .btn-success:hover, .hader .btn-success:focus{
	color: #21b573;
	background: transparent;
	border: 1px solid #21b573;
}
.banner{
	width: 100%;
	padding: 80px 0px;
}
.banner_inner{
	width: 100%;
	padding: 50px 0px;
}
.banner_inner h5{
	font-size: 14px;
	font-weight: 400;
	color: #FD511A;
	margin-bottom: 20px;
}
.banner_inner h1{
	font-size: 40px;
	font-weight: 700;
	line-height: 1.7em;
	margin-bottom: 20px;
}
.banner_inner span{
	color: #21B573;
}
.banner_inner p{
	font-size: 16px;
	font-weight: 700;
	line-height: 1.8em;
	margin-bottom: 20px;
}
.banner .btn-success{
	font-size: 16px;
	font-weight: 500;
	padding: 10px 35px;
	margin: 20px 0px 0px 0px;
	color: #fff;
	background: #21b573;
	border-radius: 30px;
	transition: 0.3s;
}
.banner .btn-success:hover, .banner .btn-success:focus{
	color: #21b573;
	background: transparent;
	border: 1px solid #21b573;
}

/*feature section start*/
.feature{
	width: 100%;
	padding: 80px 0px;
}
.inner_feature{
	width: 270px;
	height: 270px;
	padding: 30px 40px;
	background: #F8FFFB;
	border-radius: 10px;
	text-align: center;
	transition: 0.3s;
}
.inner_feature:hover{
	background: #fff;
	box-shadow: 1px 2px 5px #ccc;
}
.inner_feature img{
	width: 66px;
	height: 85px;
	margin-bottom: 20px;
}
.inner_feature h4{
	font-size: 24px;
	font-weight: 400;
	color: #413960;
	margin-bottom: 10px;
}
.inner_feature p{
	font-size: 16px;
	font-weight: 400;
	color: #585859;
}
/*feature section end*/

/*online courses sections start*/
.online{
	width: 100%;
	padding: 80px 0px;
}
.online h1{
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3em;
	color: #413960;
	margin-bottom: 50px;
	text-align: center;
}
.online .card{
	padding: 20px;
	border-radius: 20px;
	box-shadow: 1px 2px 5px #eee;
}
.online .card .card-img-top{
	border-radius: 20px;
	margin-bottom: 10px;
}
.online .card .card-body{
	width: 100%;
}
.online .card .card-body h5{
	font-size: 24px;
	line-height: 1.7em;
	font-weight: 400;
	color: #413960;
	margin-left: -10px;
}
.online .card .card-body p{
	font-size: 16px;
	line-height: 1.7em;
	font-weight: 400;
	color: #585859;
	margin-left: -10px;
}
.online .card .card-body .btn-primary{
	font-size: 16px;
	font-weight: 500;
	padding: 10px 35px;
	margin: 20px 0px 30px -10px;
	color: #fff;
	background: #21b573;
	border-radius: 30px;
	transition: 0.3s;
}
.online .card .card-body .btn-primary:hover, 
.online .card .card-body .btn-primary:focus{
	color: #21b573;
	background: transparent;
	border: 1px solid #21b573;
}
.online .card .card-body .icon{
	width: 16px;
	margin-right: 5px;
}
.online .card .card-body .info{
	font-size: 16px;
	line-height: 1.7em;
	font-weight: 500;
	color: #585859;
	margin: 0px 0px 0px 48px;
}
/*online courses sections end*/

/*testimonial section start*/
.testimonial{
	width: 100%;
	padding: 30px 0px 80px;
}
.testimonial h1{
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3em;
	color: #000;
	margin-bottom: 50px;
	text-align: center;
}
.client{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	transition: 0.03s;
}
.client:hover{
	border: 2px solid blue;
}
.testimonial p{
	font-size: 16px;
	line-height: 1.8em;
	font-weight: 500;
	color: #585859;
	margin: 10px 0px 0px 0px;
}
/*testimonial section end*/

/*footer section start*/
.footer{
	width: 100%;
	padding: 70px 0px;
	background: #282531;
}
.footer p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7em;
	color: #fff;
	width: 70%;
}
.footer ul{}
.footer ul li{
	list-style: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.footer ul li:first-child{
    font-weight: 700;
}
.footer ul li a{
	color: #fff;
}
.footer h3{
	font-size: 16px;
	font-weight: 400;
	color: #cdcdcd;
	text-align: center;
	margin: 70px 0px -40px 0px;
	padding: 0px;
}
/*footer section end*/